{%  extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register
{% endblock %}

{% block content %}
     <form  class=" my-5" action="." method="post"> {% csrf_token %}
{#          {% for field in form %}#}
{#      <p>#}
{#        {{ field.label_tag }}<br>#}
{#        {{ field }}#}
{#        {% if field.help_text %}#}
{#          <small style="display: none">{{ field.help_text }}</small>#}
{#        {% endif %}#}
{#        {% for error in field.errors %}#}
{#          <p style="color: red">{{ error }}</p>#}
{#        {% endfor %}#}
{#              </p>#}
{#      {% endfor %}#}

      {{form|crispy}}
      <button type="submit" name="button">Register</button>
    </form>

{% endblock %}