{% load static i18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/offcanvas.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/price.css' %}">
    <link href="{% static 'css/chat.css' %}">
    <link href="{% static 'js/reconnecting-websocket.js' %}">


    <title>{% block title %}
        AcademyBook
    {% endblock %}</title>
  <style>
      .red-color {
          color: red;
      }
      .grey-color{
          color: grey;
      }
      .media-focus {
          background-color: #0b51c5;
      }
  </style>
  </head>
{% include 'navbar.html' %}

  <body class="bg-light">


     <main role="main" class="container">
       {% include "translation.html" %}
     {% include 'posts/reply.html' %}

         <div class="container"></div>
             {% block content %}




          {% endblock %}
     {% block domready %}

    {% endblock %}

        </main>
    <script>
         function getParameterByName(name, url){
         if(!url){
             url = window.location.href;
         }
         name = name.replace(/[\[\]]/g, "\\$&");
         const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
             results = regex.exec(url);
         if(!results) return null;
         if(!results[2]) return "";
         return decodeURIComponent(results[2].replace(/\+/g, ""));

     }
     function loadPostContainer(postcontainerID, fetchOneId){
             console.log("working");
            const query = getParameterByName('q');
            let postList = [];
            let nextPostUrl;

            let postContainer;
            if (postcontainerID){
                postContainer = $("#" + postcontainerID )
            } else {
                 postContainer = $("#post-container");
            }
            const initialUrl = postContainer.attr("data-url") || "/api/posts/";
            console.log(initialUrl);

            $(document.body).on("click", ".post-like", function (e) {
                 e.preventDefault();
                 const _this = $(this);
                 const postId = _this.attr("data-id");
                 const likedUrl = '/api/posts/' + postId + '/like/';
                 {#_this.text("Liked")#}
                $.ajax({
                    method: "GET",
                    url: likedUrl,
                    success: function (data) {
                        if (data.liked){
                            _this.text("Liked")
                        }else {
                            _this.text("Unliked")
                        }
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data)

                    }
                })

             });
            $(document.body).on("click", ".post-reply", function (e) {
                e.preventDefault();
                const this_ = $(this);
                const parentId = this_.attr("data-id");
                const username = this_.attr("data-user");
                const replyModel =  $("#replyModal");
                const replyModalTextArea = $("#replyModal textarea");
               replyModel.modal({});
               replyModalTextArea.after("<input type='hidden' value='"+parentId +"' name='parent_id' />");
               replyModalTextArea.after("<input type='hidden' value='"+true +"' name='reply' />");
                replyModalTextArea.val("@" + username + " ");
                replyModel.on("shown.bs.modal", function () {
                     $('textarea#postReplyArea').focus()
                 })

            });

             $(document.body).on("click", ".rePostBtn", function (e) {
                e.preventDefault();
                console.log("clicked");
                const url = "/api" + $(this).attr("href");
                $.ajax({
                    method: "GET",
                    url: url,
                    success: function (data) {
                        console.log(data);
                        if (initialUrl === "/api/posts/"){
                             attachPost(data, true, true);
                             updateHashLink()
                        }

                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data)
                    }
                })
            });

            function updateHashLink() {
                $(".card-body").each(function (data) {
                    const hashTagRegex = /(^|\s)#([\w\d-]+)/g;
                    const usernameRegex = /(^|\s)@([\w\d-]+)/g;
                    const currentHtml = $(this).html();
                    let newText;
                    newText = currentHtml.replace(hashTagRegex, "$1<a href='/tags/$2/'>#$2</a>");
                    newText = newText.replace(usernameRegex, "$1 @<a href='/$2/'>$2</a>");
                    $(this).html(newText)


                })
            }
            function formatPost(postValue) {
                let precontent;
                let link= postValue.user.url;
                let container;
                const isReply = postValue.reply;
                let replyId = postValue.id;
                 if (postValue.parent) {
                    replyId = postValue.parent.id
                 }
                 let openingContainaerdiv = '<div class=\"media\">';
                 if (postValue.id === fetchOneId){
                    openingContainaerdiv = "'<div class=\"media media-focus\" style='background-color:  background-color: #0b51c5;'>';"
                 }
                if (postValue.parent && !isReply){
                    postValue = postValue.parent;
                     precontent = "<span class='grey-color'> RePost via " + postValue.user.username +"on" + postValue.date_display + " </span>"
                     + "<img class=\"card-img-top\" src=\"https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.wallpaperflare.com%2Fstatic%2F912%2F336%2F857%2Fanime-one-punch-man-saitama-illustration-wallpaper.jpg&imgrefurl=https%3A%2F%2Fwww.wallpaperflare.com%2Fsaitama-illustration-anime-one-punch-man-saitama-wallpaper-189002&tbnid=zOfccUk-f2cnzM&vet=12ahUKEwj3yuykucHoAhUiIHIKHQc9DdMQMygGegUIARDAAQ..i&docid=SntPrcD4pB1gMM&w=3840&h=2160&q=anime%20wallpaper%20one%20punch&ved=2ahUKEwj3yuykucHoAhUiIHIKHQc9DdMQMygGegUIARDAAQ\" " +
                            "alt=\"Card image cap\">";;
                } else if (postValue.parent && isReply){

                     precontent = "<span class='grey-color'> Reply to @ " + postValue.parent.user.username +"on" +" </span>";
                }
                let verb = 'Like';
                if (postValue.did_like){
                    verb = 'Unlike';
                }

                if (precontent){
                     container = openingContainaerdiv +
                                " <div class=\"card-body\"> "+ precontent + " <br/>" +
                                "<a href='" + link + "'>" + " <h5 class=\"card-title\">" + postValue.user.username + "</h5>"+"<br/>" +"</a>" +

                                "<p class=\"card-text\"> "+ postValue.content + " </p>" +
                        "<p class=\"card-text\"><small class=\"text-muted\">" + postValue.date_display + " |" + "<a href='/posts/post-detail-cbv/" + postValue.id + "'> View</a>" + " | " +
                                     "<a class='rePostBtn' href='/posts/" + postValue.id + "/repost/'> Repost </a>" + "|" +
                                         "<a href='#' class='post-like' data-id='" + replyId + "''> " + verb + " (" + postValue.likes + " ) </a>" +
                                            "<a href='#' class='post-reply' data-user='" + postValue.user.username + "' data-id='" + postValue.id + "'' >| Reply</a>" + "</hr>"
                              +  "</small></p>" +

                                " </div>";
                } else {
                    container =  openingContainaerdiv + "<img class=\"card-img-top\" src=\"https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.wallpaperflare.com%2Fstatic%2F912%2F336%2F857%2Fanime-one-punch-man-saitama-illustration-wallpaper.jpg&imgrefurl=https%3A%2F%2Fwww.wallpaperflare.com%2Fsaitama-illustration-anime-one-punch-man-saitama-wallpaper-189002&tbnid=zOfccUk-f2cnzM&vet=12ahUKEwj3yuykucHoAhUiIHIKHQc9DdMQMygGegUIARDAAQ..i&docid=SntPrcD4pB1gMM&w=3840&h=2160&q=anime%20wallpaper%20one%20punch&ved=2ahUKEwj3yuykucHoAhUiIHIKHQc9DdMQMygGegUIARDAAQ\" " +
                            "alt=\"Card image cap\">" +
                                " <div class=\"card-body\"> <br/>" +
                                "<a href='" + link+ "'>" + " <h5 class=\"card-title\">" + postValue.user.username + "</h5>"+"<br/>" +"</a>" +

                                "<p class=\"card-text\"> "+ postValue.content + " </p>" +
                        "<p class=\"card-text\"><small class=\"text-muted\">" + postValue.date_display + " |" + "<a href='/posts/post-detail-cbv/" + postValue.id + "'> View</a>" + " | " +
                                     "<a class='rePostBtn' href='/posts/" + postValue.id + "/repost/'> Repost </a>" + "|" +
                                         "<a href='#' class='post-like' data-id=" + postValue.id + "> " + verb + " (" + postValue.likes + " ) </a>" +
                             "<a href='#' class='post-reply' data-user='" + postValue.user.username + "' data-id='" + replyId+ "'' >| Reply</a>" + "</hr>"
                                +  "<p class=\"lead\">Comments</p>"+ "</hr>" +
                               + "</small></p>" +

                                " </div>";
                }

                return container
            }
            function attachPost(postValue, preprend, repost) {

                        const dateDisplay = postValue.date_display;
                        const postContent = postValue.content;
                        const postUser = postValue.user;
                        let postFormatted;
                        let verb = 'Like';
                        if (postValue.did_like){
                            verb = 'unlike'
                        }

                            postFormatted= formatPost(postValue);

                        if (preprend === true){
                                 postContainer.prepend(
                            postFormatted
                        )
                        } else {
                        postContainer.append(
                            postFormatted
                        )
            }}

            function parsePosts(){
                 console.log("Parsing");
                if (postList === 0) {
                    postContainer.text("No posts Found")
                }else {
                    // post exists parse and display them
                    $.each(postList, function (key, value) {
                            const postKey = key;
                            if (value.parent){
                                attachPost(value, false, true)
                            }else{
                                 attachPost(value)
                            }

                    })
                }
            }
            function fetchPost(url) {
                console.log("Fetching");
                let fetchUrl;
                if (!url){
                   fetchUrl = initialUrl

                }else{
                    fetchUrl = url
                }
                $.ajax({
                    url: fetchUrl,
                    data: {
                        "q": query
                    },
                    method: "GET",
                    success: function (data) {
                        console.log(data);
                        postList = data.results;
                        if (data.next){
                             nextPostUrl = data.next;
                        } else {
                            $('#loadmore').css("display", "none")
                        }

                        parsePosts();
                        updateHashLink();

                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    }

                })
            }
              function fetchSingle(fetchOneId) {
               const fetchDetailUrl = '/api/posts/' + fetchOneId + "/";
                $.ajax({
                    url: fetchDetailUrl,
                    method: "GET",
                    success: function (data) {
                        console.log(data);
                        postList = data.results;

                        parsePosts();
                        updateHashLink();

                    },
                        error: function (data) {
                            console.log("error");
                            console.log(data);
                    }

                });
            }
            if(fetchOneId){
                fetchSingle(fetchOneId)
            } else {
                fetchPost();
            }


            $('#loadmore').bind("click", function (event) {
                event.preventDefault();
                // load more items
                if (nextPostUrl){
                    fetchPost(nextPostUrl)
                }
            });

            const charStarts = 500;
            let charsCurrent = 0;
            let formPost =  $(".post-form");
            let formText =  $(".post-form textarea");
            formPost.append("<span class='postCharsLeft' style='margin-left: 20px'> &nbsp; 500 </span>");
            formText.keyup(function (event) {
               console.log(event.key, event.timestamp);
                const postValue = $(this).val();
                let charsCurrent = charStarts - postValue.length;
                const spanChars = $(this).parent().parent().parent().find(".postCharsLeft");
                spanChars.text(charsCurrent);
                if (charsCurrent > 0){
                     spanChars.removeClass("grey-color");
                    spanChars.removeClass("red-color");
                }else if(charsCurrent === 0){
                    spanChars.addClass("grey-color");
                }else if (charsCurrent <0){
                     spanChars.addClass("red-color")
                }


            });
            formPost.submit(function (event) {
               event.preventDefault();
               const this_ = $(this);
              {#console.log(event);#}
              let formData = this_.serialize();
              if (charsCurrent >=0 ){
              $.ajax({
                  url: "/api/posts/create-api/",
                  data: formData,
                  method: "POST",
                  success: function (data) {
                      this_.find("input[type=text], textarea").val("");
                      console.log(data);
                      attachPost(data, true);
                      updateHashLink();
                      $("#replyModal").modal("hide");
                  },
                  error: function (data) {
                      console.log("error");
                      console.log(data);
                      console.log(data.statusText);
                      console.log(data.status);
                  }
              })} else {
                  console.log("post must be 500 characters")
              }
          });


     }
    </script>
{% block script %}


{% endblock %}
  <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
     <script>
         $(document).ready(function () {
             let typingTimer ;
             const doneInterval = 300;
             const searchInput = $("#navbar-search-form input[type=text]");
             let searchQuery;
             searchInput.keyup(function (event) {
                  searchQuery = $(this).val();
                 clearTimeout(typingTimer);
                 typingTimer = setTimeout(doneSearchTyping, doneInterval);
                 console.log(typingTimer)
             });
             searchInput.keydown(function (event) {
                 console.log(event.key);
                 clearTimeout(typingTimer)

             });
             function doneSearchTyping() {
                 if(searchQuery){
                     document.location.href = '/posts/search/?q=' + searchQuery;
                 }
             }

         });


     </script>




     <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
    <script src="{% static 'js/offcanvas.js' %}"></script>
     <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
