{% extends 'base.html' %}
 {% block title %}
    Delete
 {% endblock %}


{% block content %}
    <form action="" method="POST">{% csrf_token %}
    <p> Are You Sure You want to delete "{{ object }}</p>
    <input type="submit" value="confirm">
    </form>
{% endblock %}