{% extends "base.html" %}

{% block title %}
    Post Detail
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            loadPostContainer("post-container", {{ object.id }})
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-3 col-xs-12">
        {{ object.user }}
    </div>
        <div class="col-sm-9 col-xs-12">
            <div id="post-container"></div>
        </div>

    </div>

{% endblock %}